
.product-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prod_details {
  background-color: purple;
  border: 2px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prod_name {
  text-decoration: underline;
}

#home {
  border: 2px solid gold;
  color: gold;
  background-color: purple;
}

#add_cart {
  border: 2px solid gold;
  color: purple;
  background-color: gold;
}