
.product-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prod_details {
  background-color: purple;
  border: 2px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.prod_name {
  text-decoration: underline;
}

.prod_price {
  border:2px solid gold;
  border-radius: 100px;
}

.prod_description {
  border: 2px solid gold;
  margin-left: 10px;
  margin-right: 10px;
}

#back {
  border: 2px solid gold;
  color: gold;
  background-color: purple;
}

#add_cart {
  border: 2px solid gold;
  color: purple;
  background-color: gold;
  margin-top: 31px;
  height: 40px;
  width:100px;
}

.cartButtons {
  display: flex;
  flex-direction: column;
  margin:-20px;
}

@media only screen and (max-width: 430px) {
  #prod_img {
    width:300px;
    height:300px;
  }
}