.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: purple;
    border: 2px solid gold;
    border-radius: 20px;
    row-gap: 30px;
    margin: 70px;
}

.home-info, .home-info2 {
    color: gold;
}