.cart-item-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap:10px 140px;
    color: gold;
    border:2px solid gold;
  }

  #total {
    font-size: 30px;
    border: 2px solid gold;
    background-color: gold;
    color: purple;
    margin-right: 10px;
  }

  .prodImg {
    width:200px;
    height: 200px;
  }

  @media only screen and (max-width: 700px) {
    .cart-item-container {
      gap:10px 10px; 
      font-size:10px;
    }
    #total {
      font-size:15px;
    }
    .prodImg {
      width:100px;
      height:150px;
    }
  }
  
  .cart-info-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10px;
  }
  
  .cart-info-header .details {
    grid-column: 1;
  }
  
  .cart-info-header .qty {
    grid-column: 3;
    margin-left: 40px;
  }
  .cart-info-header .price {
    grid-column: 5;
  }