.cart-item-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 60px;
    color: gold;
    border: 2px solid gold;
  }
  
  .prodImg {
    width:200px;
    height: 200px;
    padding: 10px;
  }
  
  #total {
    font-size: 30px;
    border: 2px solid gold;
    background-color: gold;
    color: purple;
  }
  
  .cart-info-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10px;
  }
  
  .cart-info-header .details {
    grid-column: 1;
  }
  
  .cart-info-header .qty {
    grid-column: 3;
  }
  .cart-info-header .price {
    grid-column: 5;
  }