  
#prod_img {
  height: 450px;
  width: 450px;
  border: 2px solid gold; 
}
  
.product-card-info-container {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: purple;
  height: 610px;
}

.product-card-info {
  text-align: center;
  color: gold;
}

#view {
  color: purple;
  background-color: gold;
}