.cart-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
  
.cart-info-container {
  display: flex;
  flex-direction: column;
  border: 2px solid gold;
  margin-top: 10px;
  background-color: purple;
  height: 600px;
  width: 700px;
  overflow-y:auto ;
  overflow-x: auto;
}

.cart-summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px purple;
  font-size:13px;
}

@media only screen and (min-width: 800px) {
  .cart-details-container {
    flex-direction: row;
  }
  .cart-summary-container-inner {
    font-size: 16px;
  }
}
  
  .cart-summary-container-inner {
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:purple;
  }
  
  .cart-summary-container-inner .checkout-btn {
    width: 90%;
    height: 10%;
    margin-bottom: 20px;
    color: gold;
    background-color: purple;
  }
  
  .cart-summary-container-inner .checkout-divider {
    width: 90%;
    margin: 20px 0
  }
  
  .order-summary-container {
    display: flex;
    flex: 1;
    width: 90%;
    flex-direction: column;
  }
  
  .order-line-item {
    display: flex;
    justify-content: space-between;
  }

  .details, .qty, .price {
    color: gold;
    text-decoration: underline;
  }