.form {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px ;
}
  
.formWrapper {
  padding: 10px 10px;
  background-color: white;
  box-shadow: 0 0 1.5rem rgba(105, 105, 105, 0.5);
  border-radius: 4px;
}
  
.baseFormHeader {
  text-transform: capitalize;
  font-size: 2em;
  font-weight: normal;
  background-color: purple;
  color:gold;
}
  
.baseForm {
  display: grid;
  row-gap: 20px;
}
  
.social-btn-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 5%;
}
  
.google-btn {
  background-color: #DB4437;
   color: #FFFFFF
}
  
.facebook-btn {
  background-color: #4267B2;
  color: #4267B2;
}

#reg_button {
  border: 2px solid gold;
  margin: auto;
  background-color:  purple;
  color: gold;
}